@model IEnumerable<Company>


<div class="container">
    <div class="card mt-4">
        <div class="card-header bg-gradient bg-primary text-center p-3 text-white">
            <h1>Company List</h1>
        </div>
        <div class="card-body p-4">
            <div class="justify-content-end row pe-2 mb-3">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-dark" style="width:150px;"><i class="bi bi-plus fs-5 pe-2"></i>Create</a>
            </div>
            <table id="companyList" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Postal Code</th>
                        <th>Phone Number</th>
                        <th>Options</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}