@model IEnumerable<Product>


<div class="container">
    <div class="card mt-4">
        <div class="card-header bg-gradient bg-primary text-center p-3 text-white">
            <h1>Product List</h1>
        </div>
        <div class="card-body p-4">
            <div class="justify-content-end row pe-2 mb-3">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-dark" style="width:150px;"><i class="bi bi-plus fs-5 pe-2"></i>Create</a>
            </div>
            <table id="productList" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th width="10%">No</th>
                        <th width="20%">Title</th>
                        <th width="20%">Author</th>
                        <th width="20%">Price</th>
                        <th width="10%">ISBN</th>
                        <th width="10%">Category</th>
                        <th width="10%">Option</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}